[Desktop Entry]
Name=Initial Setup
Exec=touch $DID_RUN/unless-exists.file-not-exists
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;Unity;
NoDisplay=true
AutostartCondition=unless-exists non-existing-file.txt
X-GNOME-HiddenUnderSystemd=true
X-Ubuntu-Gettext-Domain=gnome-initial-setup
