[Desktop Entry]
Type=Application
Version=1.0
Name=Sid Meier's Civilization IV
Comment=Official Minecraft Launcher
Exec=echo foo
Terminal=false
Categories=Game;Application;